// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* 在 template.scss 中添加以下样式 */

.slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  max-width: 600px; /* 根据需要调整宽度 */
  width: 100%;
  padding: 20px; /* 可选，增加内边距 */
}

.slide-background {
  width: 100%;
  height: auto;
}

