{{ define "main" }}
  <h1 style="text-align: center;">{{ .Title }}</h1>
  <h2 style="text-align: center;">The Team</h2>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    .group-photo {
      text-align: center;
      margin: 20px 0;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .group-photo img {
      width: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
    hr.section-divider {
      border: none;
      border-top: 2px solid #333;
      margin: 30px auto; /* 居中 */
      max-width: 1200px; /* 与内容宽度一致 */
    }
  </style>
  <div class="group-photo">
    <img src="/images/红林花海_2024.9.18.jpg?fm=webp" alt="Group Photo 2">
  </div>
  <hr class="section-divider">
  {{ partial "people-custom.html" . }}
  <hr class="section-divider">
  <div class="group-photo">
    <img src="/images/课题组合照_2024(1200).jpg?fm=webp" alt="Group Photo 1">
  </div>
{{ end }}